In [1]:
import glob
import os
import pandas as pd

In [2]:
file = glob.glob('*.txt')

In [3]:
#file

['10317.000001000.from_biom.txt']

In [4]:
file_id = os.path.splitext(file[0])[0]

In [5]:
name = os.path.splitext(file_id)[0]

In [6]:
#name = os.path.splitext(name)[0]

In [7]:
#name

'10317.000001000'

In [8]:
df = pd.read_csv(file[0], header=None, index_col=False, names=list(range(9)), usecols=[1,5, 6,7], skipinitialspace=True, skiprows=[0,1], sep=';', engine='python')

In [9]:
#df

           1                    5                      6                    7
0   0.343816     o__Bacteroidales      f__Bacteroidaceae       g__Bacteroides
1   0.003825     o__Clostridiales     f__Ruminococcaceae  g__Faecalibacterium
2   0.018275     o__Bacteroidales  f__Porphyromonadaceae   g__Parabacteroides
3   0.019550     o__Bacteroidales      f__Bacteroidaceae       g__Bacteroides
4   0.053124     o__Bacteroidales  f__Porphyromonadaceae   g__Parabacteroides
..       ...                  ...                    ...                  ...
80  0.000850     o__Clostridiales     f__Lachnospiraceae                  g__
81  0.000850     o__Clostridiales     f__Lachnospiraceae                  g__
82  0.001700  o__Coriobacteriales   f__Coriobacteriaceae       g__Eggerthella
83  0.000850     o__Clostridiales     f__Lachnospiraceae       g__Coprococcus
84  0.000425     o__Clostridiales     f__Ruminococcaceae  g__Faecalibacterium

[85 rows x 4 columns]

In [10]:
df.columns=[name, 'o', 'f', 'g']

In [11]:
#df

In [12]:
controlsum=df[name].sum(axis=0)

In [13]:
#controlsum

In [14]:
df['o'].fillna('o__', inplace = True)
df['f'].fillna('f__', inplace = True)
df['g'].fillna('g__', inplace = True)

In [15]:
#df

In [16]:
df_o=df[[name, 'o']]
df_f=df[[name, 'f']]
df_g=df[[name, 'g']]

In [17]:
#print(df_o)
#print(df_f)
#print(df_g)

In [18]:
df_o_gp = df_o.groupby('o', as_index=True).agg({name: "sum"})
df_f_gp = df_f.groupby('f', as_index=True).agg({name: "sum"})
df_g_gp = df_g.groupby('g', as_index=True).agg({name: "sum"})

In [19]:
#print(df_o_gp, '\n')
#print(df_f_gp, '\n')
#print(df_g_gp, '\n')

In [20]:
df_o_t = df_o_gp.T
df_f_t = df_f_gp.T
df_g_t = df_g_gp.T

In [21]:
#df_o_t

In [22]:
#df_f_t

In [23]:
#df_g_t

In [24]:
#print("Check sum of the o row: ", df_o_t.sum(axis=1), '\n')
#print("Check sum of the f row: ", df_f_t.sum(axis=1), '\n')
#print("Check sum of the g row: ", df_g_t.sum(axis=1), '\n')

In [25]:
o_sum = df_o_t.sum(axis=1)
f_sum = df_f_t.sum(axis=1)
g_sum = df_g_t.sum(axis=1)

In [26]:
if not controlsum == o_sum[name] == f_sum[name] == g_sum[name] :
    print("Sum over the " + name + " file does not match!")

In [27]:
table_name = "=\"" + name + "\""

In [28]:
#table_name

'="10317.000001000"'

In [29]:
df_o_t = df_o_t.rename(index={name:table_name})
df_f_t = df_f_t.rename(index={name:table_name})
df_g_t = df_g_t.rename(index={name:table_name})

In [30]:
#df_f_t

f,f__,f__Alcaligenaceae,f__Bacteroidaceae,f__Bifidobacteriaceae,f__Clostridiaceae,f__Coriobacteriaceae,f__Desulfovibrionaceae,f__Erysipelotrichaceae,f__Lachnospiraceae,f__Porphyromonadaceae,f__Prevotellaceae,f__Rikenellaceae,f__Ruminococcaceae,f__Streptococcaceae,f__Veillonellaceae,f__Verrucomicrobiaceae,f__[Odoribacteraceae]
"=""10317.000001000""",0.031024,0.0017,0.40119,0.001275,0.0017,0.00255,0.0017,0.019125,0.135147,0.082448,0.00085,0.031874,0.077773,0.0017,0.008075,0.19932,0.00255

In [31]:
df_o_t.to_csv(name + '_o.csv')
df_f_t.to_csv(name + '_f.csv')
df_g_t.to_csv(name + '_g.csv')